.square {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
}

.rectangle {
    aspect-ratio: 9 / 12;
    width: 100%;
    height: auto;
}